.react-calendar {
  background: transparent;
  border: none;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.react-calendar__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  color: #fff;
  background: none;
  font-weight: 600;
  font-size: 1.1rem;
  font-family: inherit;
}

.react-calendar__navigation button {
  color: #fff;
  background: none;
  font-family: inherit;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  opacity: 0.9;
  font-family: inherit;
}
.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
  color: #fff;
}

.react-calendar__month-view__days__day {
  position: relative;
  aspect-ratio: 1 / 1;
  border-radius: 9999px;
  background: #000;
  color: #fff;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.25rem;
  transition: all 0.2s ease;
  font-family: inherit;
}

.react-calendar__tile--active {
  background: #dffb58 !important;
  color: #000 !important;
  font-weight: bold;
}

.react-calendar__tile--now {
  background: #58fbc5 !important;
  color: #000 !important;
  font-weight: bold;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background: none;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #dffb58;
  color: #000 !important;
  font-weight: bold;
}

.react-calendar__month-view__days__day--neighboringMonth {
  background: transparent !important;
  border: 1px dashed rgba(255, 255, 255, 0.4) !important;
  color: rgba(255, 255, 255, 0.6) !important;
  border-radius: 9999px;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-calendar__month-view__days__day--neighboringMonth abbr {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
