@import "tailwindcss";

html, body {
  height: 100%;
  background: linear-gradient(to bottom, #576231, #22222d, #1b1f45);
  color: white;
}

body {
  font-family: 'Pretendard', sans-serif;
  font-family: "Montserrat", sans-serif;
}
